*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.galeria{
width: 100%;
min-height: 500px;
background-color: springgreen;
display: grid;
grid-template-columns: repeat(1, 1fr);
grid-template-rows: repeat(8, 200px);
padding: 20px;
grid-gap: px;


}

.item{
border: 3px solid #333;
background-size: cover;
background-position: center;
}

.item1{
grid-column: 1/2; /*empieza en la primer columna y termina en la segunda*/
grid-row: 1/3; /*empieza en la primer fila y va hasta a la tercera*/
background-image: url(img/img1.jpg);
}

.item2{
/* grid-column: 2/3;
grid-row: 1/2;  */
background-image: url(img/img2.jpg);
}

.item3{
/* grid-column: 3/5;
grid-row: 1/2;  */
background-image: url(img/img3.jpg);
}

.item4{
/* grid-column: 2/3;
grid-row: 2/4;  */
background-image: url(img/img4.jpg);
}

.item5{
/* grid-column: 3/4;
grid-row: 2/3;  */
background-image: url(img/img5.jpg);
}

.item6{
/* grid-column: 4/5;
grid-row: 2/3;  */
background-image: url(img/img6.jpg);
}

.item7{
/* grid-column: 1/2;
grid-row: 3/4;  */
background-image: url(img/img7.jpg);
}

.item8{
/* grid-column: 3/5;
grid-row: 3/4;  */
background-image: url(img/img8.jpg);
}

footer{
background-color: #333;
color: #fff;
text-align: center;
padding: 20px;
}

footer p{
margin-bottom: 20px;
font-size: 30px;
}

footer a{
color: springgreen;
font-size: 30px;
letter-spacing: 15px;
}

@media only screen and (min-width: 480px) { /*de esta manera podemos ir cambiando que nos muestra en base a la resolución de la pantalla*/
.galeria{
    grid-template-columns: 1fr 1fr
    grid-template-rows repeat, (4, 200px)
}

}

@media only screen and (min-width: 768px) and (max-width: 1023) { /*de esta manera podemos ir cambiando que nos muestra en base a la resolución de la pantalla*/
.galeria{
    grid-template-columns: 1fr 1fr 1fr
}
.item1{
    grid-column: 1/3;
    grid-row: 1/2;
}
.item2{
    grid-column: 3/4;
    grid-row: 1/2;
}
.item3{
    grid-column: 1/2;
    grid-row: 2/3;
}
.item4{
    grid-column: 2/4;
    grid-row: 2/3;
}
.item5{
    grid-column: 1/3;
    grid-row: 3/4;
}
.item6{
    grid-column: 3/4;
    grid-row: 3/4;
}
.item7{
    grid-column: 1/2;
    grid-row: 4/5;
}
.item8{
    grid-column: 2/4;
    grid-row: 4/5;
}
}

@media screen and (max-width: 1024px) {
.galeria{
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-template-row 200px 200px;
}
}