*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: steelblue;
}

body{
    background-color: steelblue;
}

h1{
    color: black;
    text-align: center;
    text-decoration: underline;
}